* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
button {
    font-family: 'Poppins', sans-serif;
    background: rgb(214, 184, 255);
    background: linear-gradient(120deg, rgba(214, 184, 255, 1) 0%, rgba(174, 230, 255, 1) 100%);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.card-container {
    position: relative;
    color: #fff;
    width: 440px;
    height: 650px;
    transform-style: preserve-3d;

}

.card-face {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px;
    transition: 0.8s all ease;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}

.face-1 {
    background: linear-gradient(145deg, rgb(186, 20, 20) 10%, rgb(224, 110, 84) 100%);
    transform-origin: right;
    transform: translate(0%) perspective(1000px) rotateY(0deg);
}

.face-1-b {
    background: linear-gradient(145deg, rgb(20, 48, 107) 10%, rgb(26, 165, 224) 100%);
    transform-origin: right;
    transform: translate(0%) perspective(1000px) rotateY(0deg);
}

.face-1-g {
    background: linear-gradient(145deg, rgb(19, 112, 56) 10%, rgb(34, 204, 88) 100%);
    transform-origin: right;
    transform: translate(0%) perspective(1000px) rotateY(0deg);
}

.face-2 {
    background: linear-gradient(145deg, rgb(186, 33, 33) 10%, rgb(250, 146, 98) 100%);
    transform-origin: left;
    transform: translateX(100%) perspective(1000px) rotateY(100deg);
    animation: face2 0.8s ease;
}

.face-2-b {
    background: linear-gradient(145deg, rgb(20, 48, 107) 10%, rgb(26, 165, 224) 100%);
    transform-origin: left;
    transform: translateX(100%) perspective(1000px) rotateY(100deg);
    animation: face 0.8s ease;
}

@keyframes face {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes face2 {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes face3 {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.face-2-g {
    background: linear-gradient(145deg, rgb(19, 112, 56) 10%, rgb(34, 204, 88) 100%);
    transform-origin: left;
    transform: translateX(100%) perspective(1000px) rotateY(100deg);
    animation: face3 0.8s ease;
}

.content:hover .face-1 {
    transform: translate(-100%) perspective(1000px) rotateY(-100deg);
}

.content:hover .face-2 {
    transform: translate(0%) perspective(1000px) rotateY(0deg);
}

.logo {
    width: 50px;
    transform: translateZ(40px);
    transform-style: preserve-3d;
}

.right-arrow {
    width: 35px;
    font-size: 30px;
}

.shoe-info {
    display: flex;
    align-items: center;

}

.shoe-new {
    margin-right: 0.8rem;
    padding: 0.3rem 0.6rem;
    color: black;
    background-color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.shoe-year {
    color: #fff;
    font-size: 1.05rem;
}

.bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoe-price {
    font-weight: 400;
    font-size: 2.3rem;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 0.95;
    display: flex;
}

.shoe-price span {
    font-size: 1.4rem;
    margin-right: 0.2rem;
}

.right-arrow i {
    animation: arrow 0.4s ease alternate infinite;
}

@keyframes arrow {
    from {
        transform: translate(-5px);
    }

    to {
        transform: translate(5px);
    }
}

.face-1 .top-part h2 {
    font-size: 2.1rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    margin: 0.4rem 0 0.6rem;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0.5rem;
}

.wish {
    color: #fff;
    font-size: 1.4rem;
}

.features {
    list-style: none;
    margin: 3rem 0;
    color: #fff;
    font-weight: 300;
}

.features li {
    margin-bottom: 0.3rem;
}

.color-wrap {
    display: flex;
    align-items: center;

}

.color-wrap span {
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 1.3rem;
}

.colors {
    display: flex;
    align-items: center;
}

.color {
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-right: 0.6rem;
    cursor: pointer;
    transition: .3s;
}

.color.red {
    background-color: rgb(255, 0, 0);
    border: 4.5px solid #fff;
}

.color.blue {
    background-color: rgb(0, 56, 167);
    border: 4.5px solid #fff;
}

.color.green {
    background-color: #20b000;
    border: 4.5px solid #fff;
}

.color:hover {
    transform: scale(1.1);
}

.buy {
    display: inline-block;
    padding: 0.5rem 1.7rem;
    background-color: #00558d;
    border-radius: 4px;
    color: #fff;
    transition: background-color 0.3;
}

.buy i {
    font-size: 0.9rem;
}

.buy:hover {
    background-color: #1a76b3;
}

.buy-wrap {
    display: flex;
    justify-content: flex-end;
}

.shoe-image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    transform-style: preserve-3d;
    pointer-events: none;
}

.shoe-image {
    position: absolute;
    width: 140%;
    top: 40%;
    left: 40%;
    transform: translate(-45%, -30%) translateZ(200px);
    transform-style: preserve-3d;
    filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.5));
    animation: float 2s ease-in-out infinite alternate, shoe 1s ease-in-out;
    transition: 0.65s;
}

@keyframes float {
    0% {
        transform: translateX(calc(-45% - 7px)) translateY(calc(-30% - 7px)) translateZ(200px);
    }

    100% {
        transform: translateX(calc(-45% + 7px)) translateY(calc(-30% + 7px)) translateZ(400px);
    }
}

@keyframes shoe {
    0% {
        transform: translateX(-45%) translateY(-30%) translateZ(200px) rotate(60deg);
        left: 120%;
    }

    100% {
        transform: translateX(-45%) translateY(-30%) translateZ(400px) rotate(0deg);
        left: 40%;
    }
}

.shoni {
    animation: shoni 0.7s ease-in-out;
    transition: 0.6s;
}

@keyframes shoni {
    0% {
        transform: translateX(70%) rotate(60deg);
    }

    100% {
        transform: translateX(7%) rotate(-18deg);

    }
}

.shoe,
.shoe-b,
.shoe-g {
    transform: rotate(-30deg);
    transition: 0.6s;
}


.content:hover .shoe-image {
    width: 130%;
    top: 50%;
}

.content:hover .shoe {
    transform: translateX(7%) rotate(-18deg);
}

.content:hover .shoe-b {
    transform: translateX(7%) rotate(-18deg);
}

.content:hover .shoe-g {
    transform: translateX(7%) rotate(-18deg);
}

/* hexagon background */
.hex-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}


#hex-grid {
    height: 100vh;
    background: white;

}

/* 2nd part */
#hex-grid .grid {
    position: absolute;
    top: 0;
    left: 0;
    background: url(grid.svg) repeat;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: 500px;
}

/* 3rd part */
#hex-grid .light {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13em;
    height: 13em;
    filter: blur(50px);
    background: rgb(255, 0, 0);
    z-index: 0;
    border-radius: 50%;
}

/* linear-gradient(145deg, rgb(207, 193, 254) 0%, rgb(199, 255, 249) 100%) */